*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.other{
    display: flex;
    width: 100%;
    height: 130px;
}
.b_cons{
    display: flex;
    width: 100%;
    height: 85vh;
    background-color: #000000;
}

.rethink{
    position: relative; 
    bottom: -76vh;
    padding: 0px 2.7%;

    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 105.6px */
    letter-spacing: -1.92px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo {
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar a{
    color: rgb(255, 255, 255);
    font-size: 1.29rem;
    font-weight: 500;
    padding: 0px 30px;
    margin: 0px 30px;
    transition: all .40s ease;
}
.navbar a:hover{
    color: var(--tertiary-shades-yellow-shades-yellow-400, #FFF639);
    transform: scale(1.3);
}
.navbar a.active{
    color: var(--tertiary-shades-yellow-shades-yellow-400, #FFF639);
}
.ham{
    display: flex;
    align-items: center;
    color: white;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: black;
    font-size: 1.29rem;
    transition: all .50s ease;
}
#menu-icon{
    font-size: 36px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .3s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        text-align: center;
        position: absolute;
        top: 100%;
        right: -100%;
        width:max-content;
        height:max-content;
        display:flex;
        border-radius: 11px;
        background: #742f74;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .20s ease;
    }
    .navbar.open{
        right: 2%;
    }
}


.section{
    padding: 20px 2.5%;
}
.second{
    background-color: #00002E;
}
.third{
    background-color: #FF8BFF;
}
.image {
    max-width: 100%;
}
.text{
    font-family: Cormorant Garamond;
    font-size: 3.5vw;
    font-style: italic;
    font-weight: 500;
}
.bc{
    color: var(--tertiary-shades-yellow-shades-yellow-400, #FFF639);
}
.csa{
    color: #000;
}
.learn_more{
    margin:34px 0px 24px 0px;
    padding: 3px 18px;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    border-radius: 32px;
    opacity: 0.5;
    background: #FFF;
    border-style: none;
    cursor: pointer;
}
.learn_blue{
    color: #00002E;
}
.learn_pink{
    color: #000;
}
.sub_head{
    margin: 10px 5px;
}